main {
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 36px;
  color: #444;
  text-align: left;
  margin-top: 10px;
  letter-spacing: 1px;
}

h1 {
  font-size: 40px;
}

/* PROFILE */

.profile-container {
  text-align: center;
  margin-top: 20px;
}

.profile-pic {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 200px;
  height: 260px;
  border-radius: 100%; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* PROJECTS */
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0px;
  margin: auto;
}

.project-box {
  background-color: #e1e1e1;
  position: relative;
  color: black;
  max-width: 500px;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  height: auto;
  min-height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-description {
  font-size: 16px;
  font-weight: normal;
  color: #444;
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.project-box {
  cursor: pointer;
}

/* PROJECTS - SKILLS */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.skill-label {
  background-color: #3498db;
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap;
}

.github-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.github-icon:hover {
  color: #000;
}

/* SOCIAL LINKS */

.social-container {
  gap: 20px;
  display: flex;
  list-style: none;
  margin: 0px;
  padding-left:0px;
  padding-top: 10px;
  justify-content: left;
}

.social-container ul {
  margin: 0;
  padding: 0;
}

.social-container li {
  margin: 0 10px;
}

.social-container a {
  font-size: 40px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.social-container a:hover {
  background-color: #d1c0c0;
  border-radius: 0px;
}

/* CONTACT ME */ 

#contact {
  text-align: left;  /* Align text to the left */
  margin-top: 40px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: 50%; 
  max-width: 600px; 
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns inputs to the left */
  gap: 10px;
  width: 100%;
}

/* Input Fields */
.contact-input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit Button */
.contact-button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #555;
}

/* CAPTCHA Styling */
.captcha-container {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Aligns CAPTCHA to the left */
  margin-top: 10px;
}

@media (max-width: 600px) {
  .captcha-container {
    justify-content: center; /* Center on smaller screens */
  }
}


/* BIO */
.bio-container {
  max-width: 800px;
  margin: 0;
  text-align: left;
  font-size: 18px; 
  line-height: 1.4; 
}

.more-about-btn {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.3s ease;
  margin: 10px auto;
  display: block;
  width: fit-content; 
  padding-right: 25px;
}

.more-about-btn:hover {
  color: #0056b3;
}

.expanded-text {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.expanded-text.show {
  max-height: 500px; /* Adjust if necessary */
  opacity: 1;
}



@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400&family=Raleway:wght@300&display=swap');
